.container-fluid {

    padding-top: 5px;

}
nav{
    border-bottom: 2px solid black ;
    background-color: #ffff;
}
.separador-botones {

    padding-top: 1rem;
    flex-direction: column;

}
.nav-link {

    text-decoration: none;
    color: black;
}
.section1{
    margin-top: 7rem;
}
.mainBtn{
    background-color: rgba(44, 121, 95, 0.699);
    border-color: rgba(44, 121, 95, 0.699);
}
.mainBtn:hover{
    background-color: rgba(15, 87, 63, 0.699);
    border-color: rgba(15, 87, 63, 0.699);
}
.section-link{
    color: rgba(44, 121, 95, 0.699);
}
.section-link:hover{
    color: rgba(15, 87, 63, 0.699);
}
.bodyImg{
    margin-top: 7rem;
    height: 40rem;
}
.loginMain{
    margin-top: 12rem;
    margin-left: 10rem;
}
.darkP{
    padding-top: .5rem;
    margin: 4rem 0 0 4rem;
    color: grey;
    border: 1px solid black;
    border-radius: 0 .75rem;
}
.form-control{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(150, 25, 25);
}
.form-control:focus-visible, .form-control:focus {
    
    border: 1px solid rgb(122, 2, 2);
    box-shadow: none;
}
