.container-fluid {

    padding-top: 5px;

}
nav{
    -webkit-box-shadow: 0px 5px 5px 0px rgba(158,158,158,1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(158,158,158,1);
    box-shadow: 0px 5px 5px 0px rgba(158,158,158,1);
    background-color: #ffff;
}
.separador-botones {

    padding-top: .5rem;

}
.nav-link {

    text-decoration: none;
    color: black;
}
.section1{
    margin-top: 7rem;
}
.mainBtn{
    background-color: rgba(44, 121, 95, 0.699);
    border-color: rgba(44, 121, 95, 0.699);
}
.mainBtn:hover{
    background-color: rgba(15, 87, 63, 0.699);
    border-color: rgba(15, 87, 63, 0.699);
}
.section-link{
    color: rgba(44, 121, 95, 0.699);
}
.section-link:hover{
    color: rgba(15, 87, 63, 0.699);
}
.bodyImg{
    margin-top: 7rem;
    height: 40rem;
}
.loginMain{
    margin-top: 12rem;
    padding-left: 10rem;
}
.darkP{
    padding-top: .5rem;
    margin: 4rem 0 2rem 4rem;
    color: grey;
    border: 1px solid black;
    border-radius: 0 .75rem;
}
.form-control{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(150, 25, 25);
}
.form-control:focus-visible, .form-control:focus {
    
    border: 1px solid rgb(122, 2, 2);
    box-shadow: none;
}
.listaCarousel{
    height: 540px;
    width: 480px;
}
.listaCarousel img{
    height: 500px;
}
.carouselContainer button{
    border: none;
}